body {
    background-color: palegoldenrod;
}

#assignments {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.card {
    border: 3px solid red;
    width: 300px;
    margin: 10px;
}

.title {
    background-color: lightgray;
}